[user]
	name = farhat
	email = farhatsherani08@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = D:\\Kidney-Disease-classification-cnn\\actions-runner\\_work\\Kidney-Disease-classification-cnn\\Kidney-Disease-classification-cnn
